body{
	font-family: kaushan script;
}

ul {
	margin: 0 auto;
}

.nav-link {
	color:  white;
}

#content-1 {
	margin: 50px 300px;

}

.container-1 {
	padding: 30px;
}

.container-1>img {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.container-1>h1 {
	margin-top: 20px;
}

.container-1>p {
	text-align: left;
	font-family: kaushan-script;
}

#content-2 {
	margin: 30px auto;
}

#content-3 {
	margin-top: 100px;
}

form {
	width: 	500px;
}

label {
	width: 	300px;
}




